@import url("https:://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300:0,400;0,500;0,700;1,400&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
